@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&family=Amatic+SC:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand img {
    height: 75px;
}
#navbarNavAltMarkup {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-family: "Alegreya";
    font-weight: 500;
    font-size: 1.2em;
}
 #header-back {
     background-image: url(bg-header.jpg);
     background-size: cover;
     height: 100vh;
 }
 nav {
     position: fixed;
 }