<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <div>{{ message + ' ' + "Felicitari" + input_message}} </div>
        <input v-mode="input_message">
        <div v-if="is_something">Daca este true se vede</div>
        


        <ol>
            <li v-for="list_item in list_orase"> {{item}}</li>
        </ol>
        <p>
            {{input_message}}
        </p>
        <button v-on:click="reverseString">ReverseString</button>
        <button @click="is_something = !is_something">
            Schimba starea
        </button>
        <button @click ="appendItem">appendItem

        </button>
    </div>
    
    
    
</body>

<script>
    var app = new Vue({
        el:"#vue-app",
        data: {
            message:' Aici este un mesaj',
            input_message:'',
            is_something :true,
            list_orase: ["Iasi","Cluj","Brasov","Craiova"]
        },
        methods: {
            reverseString :function(){
                this.input_message = this.input_message.split('').reverse().join('')
            },
            appendItem: function(){
                this.list_orase.push(this.input_message)
            }
        }

    })
</script>
</html>